streamlit==1.30.0
web3==5.31.0
logging==0.4.9.6
requests==2.28.1
pandas==2.2.2
ccxt
altair==4.2.0
configparser==5.3.0
googletrans==4.0.0-rc1
psycopg2-binary==2.9.9
os-win==2.2.1
numpy==1.25.1
scikit-learn
decimal==1.70
krakenex==2.1.0
pykrakenapi==0.3.1
configparser==5.3.0
